.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 64px;
  overflow-y: auto;
  .desktop {
    display: none;
  }
}

@media (min-width: 624px) {
  .main {
    width: 100%;
    margin-left: 80px;
  }

}

@media (min-width: 924px) {
  .main {
    margin-left: 200px;
    width: 100%;
    .desktop {
      display: flex;
      gap: .5rem;
    }
  }
}
