.header-desktop {
  @include flex-between-styles;
  display: none;
  gap: 1.5rem;
  .mini-profile {
    border-radius: 2.5rem;
    padding: 0.25rem;
    background-color: #ffffff22;
  }
}

@media (min-width: 624px) {
  .header-desktop {
    display: flex;
  }
}
