.hashtags {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

.hashtags-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 280px;
}

@media (min-width: 1368px) {
  .hashtags {
    display: flex;
  }
}
