.nav-bar {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  padding: 0.25rem;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  overflow: hidden;
  .active-icon {
    @include active-icon-styles;
  }
}

@media (min-width: 624px) {
  .nav-bar {
    position: fixed;
    top: 0px;
    left: 0%;
    transform: translateX(0%);
    width: 12%;
    height: 100vh;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 0rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}
