.nav-bar {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  padding: 0.25rem;
  border-radius: 2.5rem;
  z-index: 1500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .logo {
      display: none;
    }
  }
  .lower {
    display: none
  }
  .active-icon {
    @include active-icon-styles;
  }
  .name {
    display: none;
  }
}

@media (min-width: 624px) {
  .nav-bar {
    position: fixed;
    top: 0px;
    left: 0%;
    transform: translateX(0%);
    width: 100%;
    max-width: 80px;
    height: 100vh;
    padding: 3.25rem 0.5rem 3.25rem 0.5rem;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #44444422;
    .upper {
      flex-direction: column;
      gap: 3rem;
    }
    .lower {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (min-width: 924px) {
  .nav-bar {
    width: 100%;
    max-width: 200px;
    .upper {
      .logo {
        display: flex;
      }
    }
    .name {
      display: flex;
    }
    .blur-circle-btn {
      border-radius: 1rem;
      width: 100%;
      justify-content: flex-start;
    }
  }
}
