.favorites {
  @include default-container-styles;
  gap: 1rem;
  margin-top: 226px;
  .column-content {
    padding: 0.5rem;
  }
}

@media (min-width: 624px) {
  .favorites {
    width: 88%;
    margin-left: 12%;
  }
}

@media (min-width: 924px) {
  .favorites {
    margin-left: 16%;
    width: 84%;
  }
}
