.mini-player {
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  padding: 0.25rem;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  z-index: 900;
  overflow: hidden;
  .left {
    max-width: 68%;
  }
  .right {
    @include flex-content-styles;
    gap: 0.5rem;
    justify-content: flex-end;
    min-width: 30%;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .expand-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    z-index: -100;
  }
}

@keyframes opacityAnim {
  100% {
    opacity: 1;
  }
}

////////////////////////

$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$color-js: hsl(0, 100%, 50%);

$porcent-js: 50;

@function strokeDashoffset($num) {
	@return 155 - (155 * $num) / 100;
}

.progressbar {
  position: absolute;
  top: 37px;
  left: -1px;
	width: 20px;
	height: 20px;
	transform: rotate(-90deg);
}

.progressbar__svg {
	position: relative;
}

.progressbar__svg-circle {
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 155;
	stroke: $interactive-alt;
	stroke-linecap: round;
}

// @keyframes anim_circle-js {
// 	to {
// 		stroke-dashoffset: strokeDashoffset($porcent-js);
// 	}
// }

