.mini-player {
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  padding: 0.25rem;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  overflow: hidden;
  .flex-content {
    max-width: 80%;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

////////////////////////

$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$color-js: hsl(0, 100%, 50%);

$porcent-js: 92;

@function strokeDashoffset($num) {
	@return 162 - (162 * $num) / 100;
}

.progressbar {
  position: absolute;
  top: 37px;
  left: -1px;
	width: 20px;
	height: 20px;
	transform: rotate(-90deg);
}

.progressbar__svg {
	position: relative;
}

.progressbar__svg-circle {
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 162;
	stroke-dashoffset: 162;
	stroke: #e4e0e8bb;
	stroke-linecap: round;
}

// .shadow {
// 	&-js {
// 		filter: drop-shadow(0 0 2px $color-js);
// 	}
// }

.circle {
	&-js {
		animation: anim_circle-js 1s ease-in-out forwards;
	}
}

@keyframes anim_circle-js {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-js);
	}
}

