.favorites-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background-color: #44444488;
  border-end-start-radius: 2rem;
  border-end-end-radius: 2rem;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .content {
    @include flex-center-styles;
    display: flex;
    gap: 1rem;
    .mid-circle-img {
      @include active-icon-styles;
    }
  }
  .add-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 624px) {
  .favorites-header {
    width: 100%;
  }
}

@media (min-width: 924px) {
  .favorites-header {
    width: 100%;
  }
}