.explore {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
  overflow-y: auto;
  margin-top: 64px;
}

.fav-icon {
  display: flex;
}

@media (min-width: 624px) {
  .explore {
    margin-left: 80px;
    width: 100%;
  }
}

@media (min-width: 924px) {
  .explore {
    margin-left: 200px;
    width: 100%;
  }
}
