.signup {
  @include default-container-styles;
  height: 100vh;
  padding: 0.25rem;
}

.signup-content {
  @include column-between-styles;
  flex: 1;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  height: auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  .line-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .line {
      width: 100%;
      height: 2px;
      background-color: $icon-alt;
      border-radius: 2px;
    }
  }
}

@media (min-width: 1024px) {
  .signup {
    flex-direction: row;
  }
  .signup-content {
    max-width: 512px;
    justify-content: center;
  }
}
