@import './scss/config';
@import './pages/Welcome/welcome.scss';
@import './pages/signUp/signUp.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $light-background;
}
