@import './scss/config';
@import './pages/Welcome/welcome.scss';
@import './pages/signUp/signUp.scss';
@import './scss/inputs.scss';
@import './scss/buttons.scss';
@import './scss/texts.scss';
@import './components/previewSlider/previewSlider.scss';
@import './pages/login/login.scss';
@import './pages/main/main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.flex-between {
  @include flex-between-styles;
}

.flex-content {
  @include flex-content-styles;
}

.column-content {
  @include column-content-styles;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
