@import './scss/config';
@import './pages/Welcome/welcome.scss';
@import './pages/signUp/signUp.scss';
@import './scss/inputs.scss';
@import './scss/buttons.scss';
@import './scss/texts.scss';
@import './components/previewSlider/previewSlider.scss';
@import './pages/login/login.scss';
@import './pages/main/main.scss';
@import './components/genres/genres.scss';
@import './components/dropItem/dropItem.scss';
@import './components/sliderList/sliderList.scss';
@import './components/navBar/navBar.scss';
@import './pages/explore/explore.scss';
@import './components/artistItem/artistItem.scss';
@import './components/artistList/artistList.scss';
@import './components/playlistCards/playlistCards.scss';
@import './components/miniPlayer/miniPlayer.scss';
@import './components/header/header.scss';
@import './pages/favorites/favorites.scss';
@import './components/expandedPlayer/expandedPlayer.scss';
@import './components/Player/player.scss';
@import './components/trackListItem/trackListItem.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 8px;
}

body {
  background-color: $background-alt;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}

.flex-between {
  @include flex-between-styles;
}

.column-between {
  @include column-between-styles;
}

.flex-content {
  @include flex-content-styles;
}

.column-content {
  @include column-content-styles;
}

.container {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.bottom-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgb(11, 11, 11), rgb(11, 11, 11, 0));
  z-index: 50;
}

.center-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-sq-img {
  width: 160px;
  height: 160px;
  border-radius: 0.5rem;
}

.mid-circle-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.small-circle-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tiny-circle-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
