$light-background: #e7e6e9;
$primary-white: #e9ebf0;
$very-light-gray: #cdcfd4;
$dark-background: #120909;
$primary-gray: #00000099;
$vilvet-color: #190b14;
$interactive-color: #e4774d;
$component-color: #e4e0e8;

$background-alt: #111010;
$component-alt: #1e1d1d;
$interactive-alt: #dfbf60;
$text-alt: #E0E0E0;
$icon-alt: #9E9E9E;


@mixin default-container-styles {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

@mixin button-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 100%;
}

@mixin flex-center-styles {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between-styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin column-between-styles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-content-styles {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@mixin column-content-styles {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

@mixin active-icon-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
  background-color: #ddd;
  color: $icon-alt;
}
