.primary-btn {
  background-color: $interactive-color;
  border-radius: 0.75rem;
  width: 100%;
  padding: 0.5rem;
}

.secondary-btn {
  @include button-styles;
  gap: 0.5rem;
  background-color: $primary-white;
  padding: 0.5rem;
}

.border-btn {
  @include flex-center-styles;
  background-color: transparent;
  border: 2px solid #969696;
  border-radius: 0.5rem;
}

.transparent-btn {
  @include flex-center-styles;
  background-color: transparent;
}
