.auth-input-section {
  position: relative;
  .username-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    display: flex;
  }
  .visibility-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    display: flex;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    display: flex;
  }
  .clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    display: flex;
  }
}

.auth-input {
  @include button-styles;
  gap: 0.5rem;
  background-color: $component-alt;
  color: $text-alt;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  &::placeholder {
    color: #E0E0E077;
  }
}

.explore-input-block {
  position: relative;
  width: 50%;
  .explore-input {
    padding: 0.5rem 0.5rem 0.5rem 2.25rem;
    border-radius: 1.5rem;
    width: 100%;
    background-color: #dddddd22;
    color: $text-alt;
    font-size: 14px;
    &::placeholder {
      color: #E0E0E077;
      font-size: 14px;
    }
  }
  .explore-icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }
  .clear-icon {
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }
}
