.auth-input-section {
  position: relative;
  .username-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    display: flex;
  }
}

.auth-input {
  @include button-styles;
  gap: 0.5rem;
  background-color: $primary-white;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  &::placeholder {
    color: $primary-grey;
  }
}