.track-item {
  @include flex-between-styles;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-radius: 2.5rem;
  overflow: hidden;
  .left {
    position: relative;
    max-width: 77%;
    overflow: hidden;
    .i {
      display: flex;
      justify-content: center;
      min-width: 15px;
      max-width: 15px;
    }
    .play-pause-btn {
      position: absolute;
      top: 0;
      left: 23px;
      display: none;
    }
    .small-header-white {
      white-space: nowrap;
    }
    .small-text-white {
      white-space: nowrap;
    }
  }
  .right {
    min-width: 22%;
    justify-content: flex-end;
    .small-text-white {
      width: 30px;
    }
  }
}

.track-item:hover .play-pause-btn {
  display: flex;
}
