.track-item {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  overflow: hidden;
  .left {
    position: relative;
    max-width: 78%;
    overflow: hidden;
    .play-pause-btn {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    .small-header-white {
      white-space: nowrap;
    }
    .small-text-white {
      white-space: nowrap;
    }
  }
  .right {
    min-width: 20%;
    justify-content: flex-end;
    .small-text-white {
      width: 30px;
    }
  }
}

.track-item:hover .play-pause-btn {
  display: flex;
}
