.player-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: calc(100% - 200px);
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 1.99rem;
  z-index: 20000;
}

@media (min-width: 624px) {
  .player-wrapper {
    width: calc(100% - 80px);
  }
}

@media (min-width: 924px) {
  .player-wrapper {
    width: calc(100% - 200px);
  }
}